/* || Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Neutral Colours */
    --Neutral-0: #fff;
    --Neutral-100: #f7f3f0;
    --Neutral-600: #6d5b4d;
    --Neutral-900: #2e1401;
    --Neutral-1000: #000;
    /* Accent Colours */
    --Blue-400: #92adeb;
    --Blue-600: #5072c7;
    --Pink-400: #fc8ae5;
    --Pink-500: #f073a3;
    --Pink-700: #e11966;
    --Teal-400: #47d9c9;
    --Yellow-500: #f8cb46;
}

/* || End */

/* || Main Styling */

body {
    background-color: var(--Neutral-100);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 1rem;
}

/* Mobile View */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-large {
    display: none;
}

.header-selector-container {
    align-items: center;
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    box-shadow: 0.2rem 0.3rem 0.1rem var(--Neutral-1000);
    display: flex;
    padding: 0.3rem;
}

.header-selector-container div {
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.study-mode-selector {
    background-color: var(--Yellow-500);
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
}

/* || End */

/* || Media Queries */

/* Tablet View */

@media screen and (min-width: 51.25rem) {
    body {
        padding: 1.25rem 2rem;
    }

    /* Header */
    .logo-small {
        display: none;
    }

    .logo-large {
        display: block;
    }
}

/* Desktop View */

@media screen and (min-width: 90rem) {
    body {
        padding: 1.5rem 6.25rem;
    }
}

/* || End */
