/* || Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Neutral Colours */
    --Neutral-0: #fff;
    --Neutral-100: #f7f3f0;
    --Neutral-600: #6d5b4d;
    --Neutral-900: #2e1401;
    /* Accent Colours */
    --Blue-400: #92adeb;
    --Blue-600: #5072c7;
    --Pink-400: #fc8ae5;
    --Pink-500: #f073a3;
    --Pink-700: #e11966;
    --Teal-400: #47d9c9;
    --Yellow-500: #f8cb46;
}
