/* || Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Neutral Colours */
    --Neutral-0: #fff;
    --Neutral-100: #f7f3f0;
    --Neutral-600: #6d5b4d;
    --Neutral-900: #2e1401;
    --Neutral-1000: #000;
    /* Accent Colours */
    --Blue-400: #92adeb;
    --Blue-600: #5072c7;
    --Pink-400: #fc8ae5;
    --Pink-500: #f073a3;
    --Pink-700: #e11966;
    --Teal-400: #47d9c9;
    --Yellow-500: #f8cb46;
}

/* || End */

/* || Main Styling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--Neutral-100);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 1rem;
}

/* Mobile View */

/* Header */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.8rem;
}

.logo-large {
    display: none;
}

.header-selector-container {
    align-items: center;
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    box-shadow: 0.2rem 0.3rem 0.1rem var(--Neutral-1000);
    display: flex;
    padding: 0.3rem;
}

.header-selector-container div {
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.study-mode-selector {
    background-color: var(--Yellow-500);
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
}

/* Main */

.main-section {
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    box-shadow: 0.2rem 0.3rem 0.1rem var(--Neutral-1000);
    margin-block-end: 1.5rem;
}

/*Selection Container */

.selections {
    display: flex;
    padding: 0.8rem 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

.catergories {
    display: flex;
    flex-direction: column;
}

.catergories-text {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
}

.catergories-drop-down-icon {
    margin-inline-start: 0.5rem;
}

.hide-mastered-container label {
    font-weight: 500;
}

.shuffle {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.shuffle-icon {
    margin-inline-end: 0.5rem;
}

.catergories-text,
.shuffle {
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

/* Card Section */

.cards-section {
    border-top: 0.1rem solid var(--Neutral-1000);
    border-bottom: 0.1rem solid var(--Neutral-1000);
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1.5rem;
}

.current-card {
    align-items: center;
    background-color: var(--Pink-400);
    border: 0.2rem solid var(--Neutral-1000);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--Neutral-1000);
    display: flex;
    flex-direction: column;
    margin-block-end: 1.2rem;
    padding: 1.1rem 1rem;
    position: relative;
}

.blue-star,
.yellow-star {
    position: absolute;
}

.blue-star {
    right: 0;
    transform: translate(-1rem, 2rem);
}

.yellow-star {
    left: 0;
    bottom: 0;
    transform: translate(2rem, -4rem);
}

.current-card-content {
    margin-block-end: 4rem;
}

.current-card-subject {
    background-color: var(--Neutral-0);
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--Neutral-1000);
    margin-block-end: 5rem;
    padding: 0.3rem 0.8rem;
}

.current-card-question {
    font-size: 1.5rem;
    font-weight: 600;
    margin-block-end: 1rem;
    text-align: center;
}

.current-card-reveal {
    font-size: 1.2rem;
    text-align: center;
}

.card-progress {
    align-items: center;
    display: flex;
}

.progress-bar {
    background-color: var(--Neutral-0);
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    height: 0.6rem;
    margin-inline-end: 1rem;
    width: 6rem;
}
.cards-btns-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cards-btns-container button {
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--Neutral-1000);

    display: flex;
    border-radius: 2rem;
    justify-content: center;
    padding: 0.8rem 1rem;
}

button {
    font-size: 1.2rem;
    font-weight: 500;
}

button img {
    margin-inline-end: 0.5rem;
}

.i-know-this-btn {
    background-color: var(--Yellow-500);
}

/* Next Card Section */

.next-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.next-card-container p {
    color: var(--Neutral-600);
}

.previous-card,
.next-card {
    display: flex;
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 50%;
    padding: 1rem;
}

.previous-card p,
.next-card p {
    display: none;
}

/* Stats Section */

.stats-section {
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 2rem;
    box-shadow: 0.2rem 0.3rem 0.1rem var(--Neutral-1000);
    margin-block-end: 2.5rem;
    padding: 1.2rem 1rem;
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-block-end: 1rem;
}

.stats-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.stat-card {
    align-items: center;
    border: 0.1rem solid var(--Neutral-1000);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--Neutral-1000);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
    position: relative;
}

.stat-card img {
    transform: translateX(-0.5rem);
    z-index: 2;
}

h2 {
    color: var(--Neutral-600);
    font-size: 1.2rem;
    font-weight: 500;
}

.stats-total-number {
    font-size: 2rem;
    font-weight: 600;
}

.stat-symbol-blue,
.stat-symbol-green,
.stat-symbol-red,
.stat-symbol-pink {
    height: 100%;
    position: absolute;
    right: 0;
    width: 5rem;
    z-index: -1;
}

.stat-symbol-blue {
    background-color: var(--Blue-400);
}

.stat-symbol-green {
    background-color: var(--Teal-400);
}

.stat-symbol-red {
    background-color: var(--Pink-500);
}

.stat-symbol-pink {
    background-color: var(--Pink-400);
}

/* || End */

/* || Media Queries */

/* Tablet View */

@media screen and (min-width: 51.25rem) {
    body {
        padding: 1.25rem 2rem;
    }

    /* Header */
    .logo-small {
        display: none;
    }

    .logo-large {
        display: block;
    }

    /* Main Section */

    .catergories-text {
        margin-block-end: 0;
    }

    .catergories {
        align-items: center;
        flex-direction: row;
        gap: 1rem;
    }

    .previous-card {
        border-radius: 2rem;
        padding: 0.5rem 1rem;
    }

    .next-card {
        border-radius: 2rem;
        padding: 0.5rem 1rem;
    }

    .previous-card p,
    .next-card p {
        display: block;
    }

    .stats-card-container {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
}

/* Desktop View */

@media screen and (min-width: 90rem) {
    body {
        padding: 1.5rem 6.25rem;
    }

    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
    }

    .main-section {
        min-height: 100%;
    }

    .stats-card-container {
        display: flex;
    }

    .stats-section {
        min-height: 100%;
        min-width: 100%;
    }
}
/* || End */
